POSTGRES_PASSWORD=replace_with_a_strong_password

TELEGRAM_API_ID=replace_with_telegram_api_id
TELEGRAM_API_HASH=replace_with_telegram_api_hash
TELEGRAM_BOT_TOKEN=replace_with_bot_token
TELEGRAM_DIGEST_CHAT_ID=replace_with_private_chat_id

CHECK_TRIGGER_TOKEN=replace_with_random_trigger_token
N8N_ENCRYPTION_KEY=replace_with_random_encryption_key